.vscode/
.git/
.github/
.gitignore
node_modules/
src/
temp/
TASK/
.lingma/
TEST/
AIDOC/
AISESSION/
webview-ui/
images/bak/
*.bat
tsconfig.json
webpack.config.js
.vscode-test/
.DS_Store
sks_tooljs/
demo/
reflection-data/